<div class="wrapper">
  <h1>Welcome to Homeday</h1>
  <h2>What do you want to do today?</h2>
  <div class="buttons">
    <%= link_to "Show all properties", properties_path, class: 'btn btn-primary' %>
    <%= link_to "Create a new property", new_property_path, class: 'btn btn-primary' %>
  </div>

</div>
